.side_bar
  .side__header
    .side__header__box
      .side__header__box__name
        Sumako Sugimori
      .side__header__box__menu
        =link_to "#", class: "side__header__box__menu__new__group" do
          -# = fa_icon 'edit'
          %i.fa.fa-edit
        =link_to "#", class: "side__header__box__menu__edit__user" do
          -# = icon 'fas', 'cog'
          %i.fa.fa-cog

  .groups 
    =link_to "#", class: "groups__group" do
      %p.group-name sample
      %p.latest-message まだメッセージがありません
     
    =link_to "#", class: "groups__group" do
      %p.group-name sample2
      %p.latest-message まだメッセージがありません

        


 